.App {
    text-align: center;
}

.App-content {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 16px;
}

.App-logo {
    font-size: 60px;
    line-height: 1;
    margin: 30px;
    padding: 30px;
    width: 100%;
}

.App-link {
    color: #61dafb;
}

.App-subtitle {
    text-align: left;
}

button {
    font-size: 48px;
}
